html, body {
	background-color: #DEDEDE;
	padding:					0px;
	margin:						0px;
	height:						100%;
}

.container {
	border-color: #A1A1A1;
	border-style: solid;
	border-width: 1px;
	background-color: #FFF;
	margin: 10px 150px 10px 150px;
	height: 100%;
}

a:link {
	text-decoration: none;
	color: #A1A1A1;
}

a:visited {
	text-decoration: none;
	color: #A1A1A1;
}

a:hover {
	text-decoration: underline;
}

input {
	border: 1px solid #A1A1A1;
}

.form {
	margin: 5px 5px 5px 5px;
}

.info {
	font-size: 70%;
	color: #A1A1A1;
}
